<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Oke-bot" >

  <xacro:property name="frame_mass" value="5.0"/>
  <xacro:property name="gurad_mass" value="1.339"/>
  <xacro:property name="propeller_mass" value="0.203"/>
  <xacro:property name="Oke-bot_frame_file" value="package://robot_descriptions/meshes/Okebot_framedae"/>
  <xacro:property name="thruster_guard_file" value="package://robot_descriptions/meshes/thruster_guard.dae"/>
  <xacro:property name="thruster_propeller_file" value="package://robot_descriptions/meshes/thruster_proppeller.dae"/>

	<link name="okebot_base_link">
		<!-- inertial(material, iner)-->
	  	<inertial>
	    	<mass value="${frame_mass}"/>
	    	<origin xyz="0 0 0"/>
	      	<inertia ixx = "3.257E+08"  ixy ="-3.966E+05"  ixz ="-6.829E+06"
					 iyx = "-3.966E+05" iyy = "4.469E+08"  iyz = "-1.401E+05"
					 izx = "-6.829E+06" izy = "-1.401E+05" izz = "3.066E+08"/>
	    	</inertial>
	    <visual>
	    	<origin xyz="0 0 0" rpy="0 0 0"/>
	      	<geometry>
	      		<mesh filename="${visual_mesh_file}" scale="0.001 0.001 0.001"/>
	      	</geometry>
	    </visual>
	    <collision>
	    	<origin xyz="0 0 0" rpy="0 0 0"/>
	      	<geometry>
	          <cylinder length="0.17" radius="0.30"/>
	        </geometry>
      	</collision>
	</link>

	<link name="thruster_guard">
		<inertial>
			<mass value="${guard_mass}"/>
			<origin xyz="" rpy="" />
	      	<inertia ixx = "1.227E+06"  ixy = "22.808"     ixz = "12.874"
					 iyx = "22.808"     iyy = "1.189E+06"  iyz = "7036.714"
					 izx = "12.874"     izy = "7036.714"   izz = "1.374E+06"/>
	    	</inertial>
		</inertial>
	    <visual>
	    	<origin xyz="0 0 0" rpy="0 0 0"/> <!-- nessesary to change the balue-->
	      	<geometry>
	      		<mesh filename="${thruster_guard_file}" scale="0.001 0.001 0.001"/>
	      	</geometry>
	    </visual>
	    <collision>
	    	<origin xyz="0 0 0" rpy="0 0 0"/>
	      	<geometry>
	          <cylinder length="0.17" radius="0.30"/>
	        </geometry>
	  	</collision>
	</link>

	<link name="thruster_proppeller">
		<inertial>
			<mass value="${propeller_mass}"/>
			<origin xyz="" rpy="" />
	      	<inertia ixx = "2.964E+04"  ixy = "1652.571"  ixz = "-2.620E-08"
					 iyx = "1652.571"   iyy = "2.746E+04" iyz = "2.516E-07"
					 izx = "-2.620E-08" izy = "2.516E-07" izz = "4.384E+04"/>
	    	</inertial>
		</inertial>
	    <visual>
	    	<origin xyz="0 0 0" rpy="0 0 0"/> <!-- nessesary to change the balue-->
	      	<geometry>
	      		<mesh filename="${thruster_propeller_file}" scale="0.001 0.001 0.001"/>
	      	</geometry>
	    </visual>
	    <collision>
	    	<origin xyz="0 0 0" rpy="0 0 0"/>
	      	<geometry>
	          <cylinder length="0.17" radius="0.30"/>
	        </geometry>
	  	</collision>
	</link>



</robot>