<?xml version="1.0"?>

<robot name="ubiquitous_display" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find Oke-bot)/urdf/body.urdf.xacro"/>

  <!-- =============== Gazebo Plugin=============== -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/ubiquitous_display</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

</robot>